.card{
    width: 18rem;
    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.container{
    margin-top: 15%;
    display: flex;
}

.form{
    margin: auto;
}

input{
    width: 100%;
}